<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="/steer_bot" />

  <param name="use_sim_time" value="true" />

  <arg name="model" default="$(find steer_bot_description)/urdf/steer_bot.urdf.xacro" />
  <include file="$(find steer_bot_description)/launch/description.launch" ns="/steer_bot" >
    <arg name="model" value="$(arg model)" />
  </include>

  <include file="$(find steer_bot_viz)/launch/view_steer_bot_robot.launch" >
  </include>

  <include file="$(find steer_bot_navigation)/launch/steer_bot_localization.launch" />
  <include file="$(find steer_bot_navigation)/launch/steer_bot_navigation.launch" />

</launch>
